# Binaries
cli/talekclient/talekclient
cli/talekfrontend/talekfrontend
cli/talekreplica/talekreplica
cli/talekutil/talekutil
benchmark/consistency/consistency
benchmark/load/load
pird/pird

# Config files
*.conf
*.handle
.env

# Coverage
overalls.coverprofile
profile.coverprofile
